.input {
  padding: 1rem 1.5rem;
  border: 1px solid theme("colors.primary");
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
}

.btn-cancel {
  background: theme("colors.red.500");

  &:hover {
    background: theme("colors.red.400");
  }
}
